<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <canvas
          baseChart
          class="chart"
          [data]="doughnutChartData"
          type="doughnut"
        >
        </canvas>

      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <canvas
          baseChart
          class="chart"
          [data]="doughnutChartData"
          type="doughnut"
        >
        </canvas>

      </div>
    </div>
  </div>
</div>